raspberry_pi/flows.json
[
    {
        "id": "6236dbe166d9dd7a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5849c4ed40467e70",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "12ad8ece7c714bac",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/rfcomm0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "b49d3541c6a1e0e2",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/rfcomm0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "d8fcdfc314aab35d",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "9fc54a5524043d57",
        "type": "serial in",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "serial": "d8fcdfc314aab35d",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "f20ce65201da8c05"
            ]
        ]
    },
    {
        "id": "f20ce65201da8c05",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Parse Sensor Data",
        "func": "var line = msg.payload.trim();\n\n// Ignore startup messages or empty lines\nif (!line.includes(\"MOTION:\")) {\n    return null;\n}\n\nvar parsed = {};\nvar pairs = line.split(\",\");\n\nfor (var i = 0; i < pairs.length; i++) {\n    var parts = pairs[i].split(\":\");\n    if (parts.length === 2) {\n        var key = parts[0].trim();\n        var value = parts[1].trim();\n\n        // Convert numbers, leave strings as strings\n        if (key === \"RFID\") {\n            parsed[key] = value;\n        } else {\n            parsed[key] = parseFloat(value);\n        }\n    }\n}\n\nmsg.payload = parsed;\nflow.set(\"sensorData\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 220,
        "wires": [
            [
                "489e116733c660c7",
                "2e3b4d370f356ac2",
                "6f8df106b6edcec4",
                "fc034282318b29b9"
            ]
        ]
    },
    {
        "id": "489e116733c660c7",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "infant/sensors",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "7c57663027be9c5d",
        "type": "http request",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://thingsboard.cs.cf.ac.uk/api/v1/KZHNK26/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "85ed207c2ccec6bb",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Format HTTP Telemetry",
        "func": "var data = msg.payload;\n\nmsg.payload = {\n    temperature: data.TEMP,\n    humidity: data.HUMIDITY,\n    light: data.LIGHT,\n    loudness: data.LOUDNESS,\n    motion: data.MOTION,\n    rfid: data.RFID\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "7c57663027be9c5d"
            ]
        ]
    },
    {
        "id": "2e3b4d370f356ac2",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Camera Input Builder",
        "func": "var data = msg.payload;\nvar now = Date.now();\n\n// Track how long PIR has detected no motion\nvar pirNoMotionSeconds = flow.get(\"pirNoMotionSeconds\") || 0;\n\nif (data.MOTION === 0) {\n    pirNoMotionSeconds += 2;  // loop runs every 2 seconds\n} else {\n    pirNoMotionSeconds = 0;\n}\nflow.set(\"pirNoMotionSeconds\", pirNoMotionSeconds);\n\n// Decide whether to trigger CNN\n// Only trigger once when we cross the threshold, not every cycle after\nvar CNN_TRIGGER_SECONDS = 15;  // adjust after testing\nvar lastCNNTriggerTime = flow.get(\"lastCNNTriggerTime\") || 0;\nvar triggerCNN = false;\n\nif (pirNoMotionSeconds >= CNN_TRIGGER_SECONDS) {\n    // Only trigger every CNN_TRIGGER_SECONDS, not every 2 seconds\n    if (now - lastCNNTriggerTime >= CNN_TRIGGER_SECONDS * 1000) {\n        triggerCNN = true;\n        flow.set(\"lastCNNTriggerTime\", now);\n    }\n}\n\nmsg.payload = {\n    loudness: data.LOUDNESS,\n    triggerCNN: triggerCNN\n};\n\nmsg.topic = \"infant/camera/input\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            [
                "5bf15bca692a612b"
            ]
        ]
    },
    {
        "id": "5bf15bca692a612b",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "6f8df106b6edcec4",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Care Timer",
        "func": "var data = msg.payload;\nvar rfid = data.RFID;\nvar now = Date.now();\n\n// Get stored values from previous loops\n// lastCareTime starts as null (no check-in has happened yet)\nvar lastCareTime = flow.get(\"lastCareTime\") || null;\nvar lastNurseID = flow.get(\"lastNurseID\") || \"NONE\";\n\n// Check if a nurse just tapped their RFID tag\nif (rfid !== \"NONE\") {\n    // Record when this check-in happened\n    lastCareTime = now;\n    // Record which nurse tapped in\n    lastNurseID = rfid;\n    // Save both to flow context so they persist between loops\n    flow.set(\"lastCareTime\", lastCareTime);\n    flow.set(\"lastNurseID\", lastNurseID);\n    // Clear any active alert since a nurse is now attending\n    flow.set(\"alertLevel\", \"NONE\");\n}\n\n// Calculate how long since the last check-in\n// If no check-in has ever happened, set to -1 so we can handle it differently\nvar minutesSinceCare;\nvar careOverdue;\n\nif (lastCareTime === null) {\n    // No nurse has ever checked in since the system started\n    minutesSinceCare = -1;\n    careOverdue = true;\n} else {\n    // Calculate minutes since the last tap\n    minutesSinceCare = Math.floor((now - lastCareTime) / 60000);\n    // 180 minutes = 3 hours, based on WHO/NHS feeding guidelines\n    careOverdue = minutesSinceCare >= 180;\n}\n\n// Save to flow context so Alert Escalation can read it\nflow.set(\"minutesSinceCare\", minutesSinceCare);\n\nmsg.payload = {\n    // When the last check-in happened (null if never)\n    lastCareTime: lastCareTime ? new Date(lastCareTime).toISOString() : \"never\",\n    // Which nurse last tapped in\n    lastNurseID: lastNurseID,\n    // How many minutes ago (-1 if never)\n    minutesSinceCare: minutesSinceCare,\n    // Whether the 3-hour window has passed\n    careOverdue: careOverdue,\n    // Whether this particular message included an RFID tap\n    rfidJustTapped: (rfid !== \"NONE\"),\n    timestamp: new Date().toISOString()\n};\n\nmsg.topic = \"infant/care\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "9206277d548b0801"
            ]
        ]
    },
    {
        "id": "9206277d548b0801",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "fc034282318b29b9",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Format Env Data for LCD",
        "func": "var data = msg.payload;\n\nmsg.payload = {\n    temperature: data.TEMP,\n    humidity: data.HUMIDITY\n};\n\nmsg.topic = \"infant/env\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "4fa2aecdb3aac319"
            ]
        ]
    },
    {
        "id": "4fa2aecdb3aac319",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b452bc795ce2e31",
        "type": "mqtt in",
        "z": "6236dbe166d9dd7a",
        "name": "Camera Output",
        "topic": "infant/camera",
        "qos": "2",
        "datatype": "json",
        "broker": "5849c4ed40467e70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 960,
        "y": 80,
        "wires": [
            [
                "2721bd0a996f0b43"
            ]
        ]
    },
    {
        "id": "39ac6d53b2ea2447",
        "type": "inject",
        "z": "6236dbe166d9dd7a",
        "name": "SIM: Sleeping peacefully",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"presence\":\"infant_present\",\"state\":\"sleeping\",\"crying\":false,\"cameraMotion\":null} ",
        "payloadType": "json",
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "3f7ca34e311d2620"
            ]
        ]
    },
    {
        "id": "5feb730da38b0798",
        "type": "inject",
        "z": "6236dbe166d9dd7a",
        "name": "SIM: Awake and Calm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"presence\":\"infant_present\",\"state\":\"awake\",\"crying\":false,\"cameraMotion\":null}",
        "payloadType": "json",
        "x": 1040,
        "y": 260,
        "wires": [
            [
                "3f7ca34e311d2620"
            ]
        ]
    },
    {
        "id": "84b01a9cd3570a2d",
        "type": "inject",
        "z": "6236dbe166d9dd7a",
        "name": "SIM: Crying",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"presence\":\"infant_present\",\"state\":\"awake\",\"crying\":true,\"cameraMotion\":null}",
        "payloadType": "json",
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "3f7ca34e311d2620"
            ]
        ]
    },
    {
        "id": "a155c4ada399eae5",
        "type": "inject",
        "z": "6236dbe166d9dd7a",
        "name": "SIM: Absent",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"presence\":\"not_found\",\"state\":\"none\",\"crying\":false,\"cameraMotion\":false}",
        "payloadType": "json",
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "3f7ca34e311d2620"
            ]
        ]
    },
    {
        "id": "3f7ca34e311d2620",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "infant/camera",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 1400,
        "y": 360,
        "wires": []
    },
    {
        "id": "d9631d14dde23135",
        "type": "inject",
        "z": "6236dbe166d9dd7a",
        "name": "SIM: Triggered, baby moved",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"presence\":\"infant_present\",\"state\":\"sleeping\",\"crying\":false,\"cameraMotion\":true}",
        "payloadType": "json",
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "3f7ca34e311d2620"
            ]
        ]
    },
    {
        "id": "a1b772cf86441f74",
        "type": "inject",
        "z": "6236dbe166d9dd7a",
        "name": "SIM: Triggered, baby didn't move, asleep",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"presence\":\"infant_present\",\"state\":\"sleeping\",\"crying\":false,\"cameraMotion\":false}",
        "payloadType": "json",
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "3f7ca34e311d2620"
            ]
        ]
    },
    {
        "id": "7c5c9b965ac8031f",
        "type": "inject",
        "z": "6236dbe166d9dd7a",
        "name": "SIM: Face Hidden",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"presence\":\"infant_present\",\"state\":\"face_not_visible\",\"crying\":false,\"cameraMotion\":null}",
        "payloadType": "json",
        "x": 1030,
        "y": 340,
        "wires": [
            [
                "3f7ca34e311d2620"
            ]
        ]
    },
    {
        "id": "2721bd0a996f0b43",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "State Classification",
        "func": "var camera = msg.payload;\nvar previousState = flow.get(\"infantState\") || \"UNKNOWN\";\nvar pirNoMotionSeconds = flow.get(\"pirNoMotionSeconds\") || 0;\n\n// Save camera data for other nodes\nflow.set(\"cameraData\", camera);\n\n// Camera is the primary source of truth\nvar state = \"UNKNOWN\";\n\n// Step 1: Is the baby even there?\nif (camera.presence === \"not_found\") {\n    state = \"ABSENT\";\n}\n// Step 2: Is the baby crying? (crying overrides face state)\nelse if (camera.crying === true) {\n    state = \"CRYING\";\n}\n// Step 3: What do the eyes say?\nelse if (camera.state === \"awake\") {\n    state = \"AWAKE\";\n}\nelse if (camera.state === \"sleeping\") {\n    state = \"SLEEPING\";\n}\n// Step 4: Face not visible, best guess\nelse if (camera.state === \"face_not_visible\" || camera.state === \"none\") {\n    if (camera.cameraMotion === true) {\n        state = \"AWAKE\";\n    } else if (camera.cameraMotion === false) {\n        state = \"SLEEPING\";\n    } else {\n        // cameraMotion is null (normal flow, not triggered)\n        // Keep previous state if we had one\n        if (previousState !== \"UNKNOWN\" && previousState !== \"ABSENT\") {\n            state = previousState;\n        } else {\n            state = \"UNKNOWN\";\n        }\n    }\n}\n\n// Save state\nflow.set(\"infantState\", state);\n\nmsg.payload = {\n    state: state,\n    previousState: previousState,\n    stateChanged: (state !== previousState),\n    presence: camera.presence,\n    faceState: camera.state,\n    crying: camera.crying,\n    cameraMotion: camera.cameraMotion,\n    pirNoMotionSeconds: pirNoMotionSeconds,\n    timestamp: new Date().toISOString()\n};\n\nmsg.topic = \"infant/state\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 80,
        "wires": [
            [
                "51741a06454f9f01",
                "1e0979c3ce17669f",
                "413fc42bb699751f"
            ]
        ]
    },
    {
        "id": "974e93ab51f9a38e",
        "type": "inject",
        "z": "6236dbe166d9dd7a",
        "name": "SIM: Triggered, baby din't move, awake",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"presence\":\"infant_present\",\"state\":\"awake\",\"crying\":false,\"cameraMotion\":false}",
        "payloadType": "json",
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "3f7ca34e311d2620"
            ]
        ]
    },
    {
        "id": "51741a06454f9f01",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Alert Escalation",
        "func": "var state = flow.get(\"infantState\") || \"UNKNOWN\";\nvar pirNoMotionSeconds = flow.get(\"pirNoMotionSeconds\") || 0;\nvar minutesSinceCare = flow.get(\"minutesSinceCare\") || 0;\nvar camera = flow.get(\"cameraData\") || {};\nvar sensors = flow.get(\"sensorData\") || {};\nvar previousAlert = flow.get(\"alertLevel\") || \"NONE\";\n\n// Thresholds (short for testing, increase for real use)\nvar CARE_MEDIUM_MINUTES = 5;\nvar CARE_HIGH_MINUTES = 10;\nvar CRYING_ESCALATE_MINUTES = 5;\n\nvar alertLevel = \"NONE\";\nvar alertReason = \"\";\nvar buzzerCommand = \"BUZZER:OFF\";\n\n// Priority 1: Baby not in crib\nif (state === \"ABSENT\") {\n    alertLevel = \"HIGH\";\n    alertReason = \"Baby not detected in crib\";\n    buzzerCommand = \"BUZZER:ON\";\n}\n\n// Priority 2: Triggered motion check came back negative\nif (alertLevel === \"NONE\" &&\n    camera.cameraMotion === false &&\n    camera.presence === \"infant_present\") {\n    alertLevel = \"MEDIUM\";\n    alertReason = \"Baby has not moved during motion check\";\n    buzzerCommand = \"BUZZER:ON\";\n}\n\n// Priority 3: Baby crying\nif (alertLevel === \"NONE\" && state === \"CRYING\") {\n    if (minutesSinceCare >= CRYING_ESCALATE_MINUTES) {\n        alertLevel = \"HIGH\";\n        alertReason = \"Baby crying, no nurse check-in for \" + minutesSinceCare + \" minutes\";\n        buzzerCommand = \"BUZZER:ON\";\n    } else {\n        alertLevel = \"LOW\";\n        alertReason = \"Baby is crying\";\n    }\n}\n\n// Priority 4: Care overdue regardless of state\n// -1 means no nurse has ever checked in\nif (alertLevel === \"NONE\" && (minutesSinceCare === -1 || minutesSinceCare >= CARE_HIGH_MINUTES)) {\n    alertLevel = \"LOW\";\n    if (minutesSinceCare === -1) {\n        alertReason = \"No nurse has checked in since system started\";\n    } else {\n        alertReason = \"Routine check-in overdue (\" + minutesSinceCare + \" minutes)\";\n    }\n}\n\n// Build possible causes when crying\nvar possibleCauses = [];\nif (state === \"CRYING\" && sensors) {\n    if (sensors.TEMP > 26) {\n        possibleCauses.push(\"Possibly too warm (\" + sensors.TEMP.toFixed(1) + \"C)\");\n    }\n    if (sensors.TEMP < 18) {\n        possibleCauses.push(\"Possibly too cold (\" + sensors.TEMP.toFixed(1) + \"C)\");\n    }\n    if (minutesSinceCare === -1 || minutesSinceCare >= 120) {\n        possibleCauses.push(\"Possibly hungry (no recent care event logged)\");\n    }\n\n    // Check for sudden noise spike\n    var recentLoudness = flow.get(\"recentLoudness\") || [];\n    recentLoudness.push(sensors.LOUDNESS || 0);\n    if (recentLoudness.length > 30) recentLoudness.shift();\n    flow.set(\"recentLoudness\", recentLoudness);\n\n    if (recentLoudness.length >= 15) {\n        var olderAvg = 0;\n        for (var i = 0; i < 10; i++) olderAvg += recentLoudness[i];\n        olderAvg = olderAvg / 10;\n        var newerMax = 0;\n        for (var j = recentLoudness.length - 5; j < recentLoudness.length; j++) {\n            if (recentLoudness[j] > newerMax) newerMax = recentLoudness[j];\n        }\n        if (newerMax > olderAvg * 2) {\n            possibleCauses.push(\"Possibly startled by sudden noise\");\n        }\n    }\n}\n\nflow.set(\"alertLevel\", alertLevel);\n\n// Output 1: alert data\nvar alertMsg = {\n    payload: {\n        alertLevel: alertLevel,\n        alertReason: alertReason,\n        possibleCauses: possibleCauses,\n        alertChanged: (alertLevel !== previousAlert),\n        infantState: state,\n        pirNoMotionSeconds: pirNoMotionSeconds,\n        minutesSinceCare: minutesSinceCare,\n        cameraMotion: camera.cameraMotion,\n        timestamp: new Date().toISOString()\n    },\n    topic: \"infant/alerts\"\n};\n\n// Output 2: buzzer command for Arduino (Phase 3)\nvar buzzerMsg = { payload: buzzerCommand };\n\n// Only send alert output if there is an active alert or alert just cleared\nif (alertLevel !== \"NONE\" || previousAlert !== \"NONE\") {\n    return [alertMsg, buzzerMsg];\n}\nreturn [null, buzzerMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 80,
        "wires": [
            [
                "18c545aa738146f4",
                "ab8260549dce56fd"
            ],
            []
        ]
    },
    {
        "id": "18c545aa738146f4",
        "type": "debug",
        "z": "6236dbe166d9dd7a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 40,
        "wires": []
    },
    {
        "id": "ab8260549dce56fd",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 1570,
        "y": 80,
        "wires": []
    },
    {
        "id": "1e0979c3ce17669f",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Format for Cloud",
        "func": "var state = flow.get(\"infantState\") || \"UNKNOWN\";\nvar alertLevel = flow.get(\"alertLevel\") || \"NONE\";\nvar minutesSinceCare = flow.get(\"minutesSinceCare\") || 0;\nvar lastNurseID = flow.get(\"lastNurseID\") || \"NONE\";\nvar pirNoMotionSeconds = flow.get(\"pirNoMotionSeconds\") || 0;\nvar sensors = flow.get(\"sensorData\") || {};\nvar camera = flow.get(\"cameraData\") || {};\n\nmsg.payload = {\n    infantState: state,\n    alertLevel: alertLevel,\n    minutesSinceCare: minutesSinceCare,\n    lastNurseID: lastNurseID,\n    pirNoMotionSeconds: pirNoMotionSeconds,\n    temperature: sensors.TEMP,\n    humidity: sensors.HUMIDITY,\n    light: sensors.LIGHT,\n    loudness: sensors.LOUDNESS,\n    motion: sensors.MOTION,\n    cameraPresence: camera.presence,\n    cameraFaceState: camera.state,\n    cameraCrying: camera.crying,\n    cameraMotion: camera.cameraMotion,\n    timestamp: new Date().toISOString()\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "de02032c5c698819",
        "type": "http request",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1590,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "413fc42bb699751f",
        "type": "debug",
        "z": "6236dbe166d9dd7a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 40,
        "wires": []
    }
]
