raspberry_pi/flows.json
[
    {
        "id": "6236dbe166d9dd7a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5849c4ed40467e70",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "12ad8ece7c714bac",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/rfcomm0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "b49d3541c6a1e0e2",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/rfcomm0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "d8fcdfc314aab35d",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "9fc54a5524043d57",
        "type": "serial in",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "serial": "d8fcdfc314aab35d",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "f20ce65201da8c05"
            ]
        ]
    },
    {
        "id": "f20ce65201da8c05",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Parse Sensor Data",
        "func": "var line = msg.payload.trim();\n\n// Ignore startup messages or empty lines\nif (!line.includes(\"MOTION:\")) {\n    return null;\n}\n\nvar parsed = {};\nvar pairs = line.split(\",\");\n\nfor (var i = 0; i < pairs.length; i++) {\n    var parts = pairs[i].split(\":\");\n    if (parts.length === 2) {\n        var key = parts[0].trim();\n        var value = parts[1].trim();\n\n        // Convert numbers, leave strings as strings\n        if (key === \"RFID\") {\n            parsed[key] = value;\n        } else {\n            parsed[key] = parseFloat(value);\n        }\n    }\n}\n\nmsg.payload = parsed;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "489e116733c660c7",
                "f07bd59c4c409f5a",
                "2e3b4d370f356ac2"
            ]
        ]
    },
    {
        "id": "489e116733c660c7",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "infant/sensors",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "f07bd59c4c409f5a",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Split to Topics",
        "func": "var data = msg.payload;\n\nvar motion = {payload: data.MOTION, topic:\"infant/sensors/motion\"};\nvar temp = {payload: data.TEMP, topic: \"infant/sensors/temperature\"};\nvar humidity = {payload: data.HUMIDITY, topic: \"infant/sensors/humidity\"};\nvar light = {payload: data.LIGHT, topic: \"infant/sensors/light\"};\nvar loudness = { payload: data.LOUDNESS, topic: \"infant/sensors/loudness\"};\nvar rfid = {payload: data.RFID, topic: \"infant/sensors/rfid\"};\n\nreturn [motion, temp, humidity, light, loudness, rfid];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 440,
        "wires": [
            [
                "43eb37d902384428"
            ],
            [
                "76a47b5b65070c6c"
            ],
            [
                "d7b2b97ae3a6f7ef"
            ],
            [
                "57e0aa475ae4675c"
            ],
            [
                "9d7d32005e1f3fbf"
            ],
            [
                "98848ed2e8e99b59"
            ]
        ]
    },
    {
        "id": "76a47b5b65070c6c",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "d7b2b97ae3a6f7ef",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 1170,
        "y": 400,
        "wires": []
    },
    {
        "id": "57e0aa475ae4675c",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 1170,
        "y": 460,
        "wires": []
    },
    {
        "id": "9d7d32005e1f3fbf",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 1170,
        "y": 520,
        "wires": []
    },
    {
        "id": "98848ed2e8e99b59",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 1170,
        "y": 580,
        "wires": []
    },
    {
        "id": "43eb37d902384428",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 1170,
        "y": 280,
        "wires": []
    },
    {
        "id": "7c57663027be9c5d",
        "type": "http request",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://thingsboard.cs.cf.ac.uk/api/v1/KZHNK26/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1250,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "85ed207c2ccec6bb",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Format HTTP Telemetry",
        "func": "var data = msg.payload;\n\nmsg.payload = {\n    temperature: data.TEMP,\n    humidity: data.HUMIDITY,\n    light: data.LIGHT,\n    loudness: data.LOUDNESS,\n    motion: data.MOTION,\n    rfid: data.RFID\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 620,
        "wires": [
            [
                "7c57663027be9c5d"
            ]
        ]
    },
    {
        "id": "2e3b4d370f356ac2",
        "type": "function",
        "z": "6236dbe166d9dd7a",
        "name": "Camera Input Builder",
        "func": "var data = msg.payload;\nvar now = Date.now();\n\n// Track how long PIR has detected no motion\nvar pirNoMotionSeconds = flow.get(\"pirNoMotionSeconds\") || 0;\n\nif (data.MOTION === 0) {\n    pirNoMotionSeconds += 2;  // loop runs every 2 seconds\n} else {\n    pirNoMotionSeconds = 0;\n}\nflow.set(\"pirNoMotionSeconds\", pirNoMotionSeconds);\n\n// Decide whether to trigger CNN\n// Only trigger once when we cross the threshold, not every cycle after\nvar CNN_TRIGGER_SECONDS = 15;  // adjust after testing\nvar lastCNNTriggerTime = flow.get(\"lastCNNTriggerTime\") || 0;\nvar triggerCNN = false;\n\nif (pirNoMotionSeconds >= CNN_TRIGGER_SECONDS) {\n    // Only trigger every CNN_TRIGGER_SECONDS, not every 2 seconds\n    if (now - lastCNNTriggerTime >= CNN_TRIGGER_SECONDS * 1000) {\n        triggerCNN = true;\n        flow.set(\"lastCNNTriggerTime\", now);\n    }\n}\n\nmsg.payload = {\n    loudness: data.LOUDNESS,\n    triggerCNN: triggerCNN\n};\n\nmsg.topic = \"infant/camera/input\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 200,
        "wires": [
            [
                "5bf15bca692a612b"
            ]
        ]
    },
    {
        "id": "5bf15bca692a612b",
        "type": "mqtt out",
        "z": "6236dbe166d9dd7a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5849c4ed40467e70",
        "x": 1170,
        "y": 160,
        "wires": []
    }
]
